{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="pull-right form-inline">
            <div class="btn-group">
                <button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
                <button class="btn btn-info" data-calendar-nav="today">Current</button>
                <button class="btn btn-primary" data-calendar-nav="next">Next >></button>
            </div>
            <div class="btn-group">
                <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                <button class="btn btn-warning" data-calendar-view="week">Week</button>
                <button class="btn btn-warning" data-calendar-view="day">Day</button>
            </div>
            <a href="{{ path("calendar.add") }}" class="btn btn-success"> Add new course</a>
        </div>
    </div>
    <div id='calendar'></div>

    <div class="modal fade" id="events-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Event</h3>
                </div>
                <div class="modal-body" style="height: 400px">
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        (function($) {


            let options = {
                // events_source: '/bower/bower_components/bootstrap-calendar/events.json',
                events_source: '{{ path("calendar.all") }}',
                view: 'day',
                tmpl_path: '/calendar-html/',
                tmpl_cache: false,
                day: '{{ "now" | date("Y-m-d") }}',
                modal : "#events-modal",
                modal_type : "ajax",
                modal_title : function (e) { return e.title },
                onAfterEventsLoad: function(events) {
                    if(!events) {
                        return;
                    }
                    // let list = $('#eventlist');
                    // list.html('');
                    //
                    // $.each(events, function(key, val) {
                    //     $(document.createElement('li'))
                    //         .html('<a href="' + val.url + '">' + val.title + '</a>')
                    //         .appendTo(list);
                    // });
                },
                onAfterViewLoad: function(view) {
                    $('.page-header h3').text(this.getTitle());
                    $('.btn-group button').removeClass('btn-success');
                    $('button[data-calendar-view="' + view + '"]').addClass('btn-success');
                },
                classes: {
                    months: {
                        general: 'label'
                    }
                }
            };

            let calendar = $('#calendar').calendar(options);

            $('.btn-group button[data-calendar-nav]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.navigate($this.data('calendar-nav'));
                });
            });

            $('.btn-group button[data-calendar-view]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.view($this.data('calendar-view'));
                });
            });

            // $('#first_day').change(function(){
            //     var value = $(this).val();
            //     value = value.length ? parseInt(value) : null;
            //     calendar.setOptions({first_day: value});
            //     calendar.view();
            // });
            //
            // $('#language').change(function(){
            //     calendar.setLanguage($(this).val());
            //     calendar.view();
            // });
            //
            // $('#events-in-modal').change(function(){
            //     var val = $(this).is(':checked') ? $(this).val() : null;
            //     calendar.setOptions({modal: val});
            // });
            // $('#format-12-hours').change(function(){
            //     var val = $(this).is(':checked') ? true : false;
            //     calendar.setOptions({format12: val});
            //     calendar.view();
            // });
            // $('#show_wbn').change(function(){
            //     var val = $(this).is(':checked') ? true : false;
            //     calendar.setOptions({display_week_numbers: val});
            //     calendar.view();
            // });
            // $('#show_wb').change(function(){
            //     var val = $(this).is(':checked') ? true : false;
            //     calendar.setOptions({weekbox: val});
            //     calendar.view();
            // });
            // $('#events-modal .modal-header, #events-modal .modal-footer').click(function(e){
            //     //e.preventDefault();
            //     //e.stopPropagation();
            // });
        }(jQuery));
    </script
{% endblock %}