{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   <div class="ml-auto mr-auto col-md-4 align-middle pull-none justify-content-center align-self-center">
<div class="card">
    <div class="card-header card-header-info justify-content-center align-self-center">
        <h4 align="center">Please login</h4>
    </div>
    <div class="card-body">
<form method="post" class="col align-self-center text-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-info mt-4" type="submit">
        Let`s go
    </button>
{#    <a href="{{ path("app_register") }}" class="btn btn-lg btn-warning mt-4"><i class="material-icons">reply</i>Go to register</a>#}
</form>
</div>
</div>
</div>
{% endblock %}
