{% extends 'base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h3>{{ module.name }}
                <a href="{{ path("course.add") }}" class="btn btn-success">
                    <i class="material-icons">add</i>Add course
                </a></h3>
            <p>{{ module.description }}</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr></thead>
                    <tbody>
                    {% for course in module.courses %}
                        <tr>
                            <th>{{ course.name }}</th>
                            <td>{{ course.duration }} minutes</td>
                            <td>
                                <a href="{{ path("course.add", {"course": course.id}) }}" class="btn btn-success" title="Edit">
                                    <i class="material-icons">border_color</i>
                                </a>
                                <a href="{{ path("course.view", {"course": course.id}) }}" class="btn btn-info" title="View">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}