{% extends 'base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-header card-header-primary">
            <form>
                <div class="form-row">

                    <div class="form-group col-md-8">
                        <input type="text" name="q" class="form-control" placeholder="Search by name..." value="{{ app.request.query.get('q') }}">
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit"
                                class="btn btn-outline-secondary btn-info">
                            <i class="material-icons">search</i> Search
                        </button>
                        <a href="{{ path("group.add") }}" class="btn btn-success">
                            <i class="material-icons">add</i>New group
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr></thead>
                    <tbody>
                    {% for group in pagination %}
                        <tr>
                            <th>{{ group.name }}</th>
                            <td>
                                <a href="{{ path("group.add", {"group": group.id}) }}" class="btn btn-success" title="Edit">
                                    <i class="material-icons">border_color</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}