<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/x-icon" href="/images/favi.png" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="/assets/css/material-dashboard.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/bundles/css/style.css">
    {% block stylesheets %}{% endblock %}

</head>
<body class="dark-edition">
<div class="wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include "sidebar-nav.html.twig" %}
    {% endif %}
    <div class="{% if is_granted('IS_AUTHENTICATED_FULLY') %} main-panel {% endif %}  {% if not is_granted('IS_AUTHENTICATED_FULLY') %} h-100 {% endif %} ps-container ps-theme-default" data-ps-id="98efc04b-42fc-7bca-7ba8-b7b1b695f771">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include "navbar.html.twig" %}
        {% endif %}
        <div class="content {% if not is_granted('IS_AUTHENTICATED_FULLY') %} h-100 {% endif %}">
            <div class="container-fluid {% if not is_granted('IS_AUTHENTICATED_FULLY') %} h-100 d-flex {% endif %}">
                    {% block body %}{% endblock %}
            </div>
        </div>

        {% include "footer.html.twig" %}
    </div>
</div>

<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
{#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap-material-design.min.js"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="/assets/js/plugins/chartist.min.js"></script>
<!-- Plugin for Scrollbar documentation here: https://github.com/utatti/perfect-scrollbar -->
{#<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>#}
<!-- Demo init -->
<script src="/assets/demo/demo.js"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="/assets/js/material-dashboard.js?v=2.1.0"></script>


<link rel="stylesheet" href="/bower/bower_components/bootstrap-calendar/css/calendar.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

<script>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            $.notify({
                icon: "add_alert",
                message:  "{{ message }}"

            },{
                type: "{{ label }}",
                timer: 1000,
                placement: {
                    from: "top",
                    align: "center"
                }
            });
        {% endfor %}
    {% endfor %}
    let path = window.location.pathname.substring(1);
    $('.nav>li>a[href="/' + path + '"]').parent().addClass('active');


</script>
<script type="text/javascript" src="/bower/bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bower/bower_components/bootstrap-calendar/js/calendar.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>