<footer class="footer">
    <div class="container-fluid">
{#        <nav class="float-left">#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="https://www.creative-tim.com">#}
{#                        Creative Tim#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="https://creative-tim.com/presentation">#}
{#                        About Us#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://blog.creative-tim.com">#}
{#                        Blog#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="https://www.creative-tim.com/license">#}
{#                        Licenses#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
        <div class="copyright float-right" id="date">©{{ 'now' | date('Y-m-d H:i:s') }} made with <i class="material-icons">favorite</i>
        </div>
    </div>
</footer>