<div class="sidebar" data-color="green" data-background-color="black" data-image="">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
        </a></div>
    <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="25448736-817c-99d9-b51f-06741aa501ec">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("dashboard") }}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("calendar.view") }}">
                    <i class="material-icons">calendar_today</i>
                    <p>Calendar</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("module.list") }}">
                    <i class="material-icons">library_books</i>
                    <p>Modules</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("school.list") }}">
                    <i class="material-icons">home</i>
                    <p>Schools</p>
                </a>
            </li>
        </ul>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    <div class="sidebar-background" style=""></div></div>